# üß∞ Data Wrangling with pandas ‚Äì Exercises

In this notebook, you‚Äôll practise common wrangling tasks using pre-created DataFrames.
‚úÖ Tasks include:
- Transforming columns
- Joining, merging, and appending data
- Working with simple and practical examples

## üì¶ Step 1: Setup ‚Äì Run this to create sample data

In [ ]:
import pandas as pd

# Employee data
df_employees = pd.DataFrame({
    'EmployeeID': [1, 2, 3],
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Department': ['HR', 'IT', 'Finance']
})

# Salary data
df_salaries = pd.DataFrame({
    'EmployeeID': [1, 2, 4],
    'Salary': [90000, 60000, 55000]
})

df_employees, df_salaries

## ‚úÇÔ∏è Step 2: Transform Columns

In [ ]:
# TODO: 
# 1. Create a new column in df_salaries called 'SalaryBand' (df_salaries['SalaryBand'])
# 2. Use pd.cut( on the original salary column) 
# 3. Define 3 bands: Low (<=55000), Medium (<=60000), High, bins = [, , ], 
# 4. Define labels = labels = [' ', ' ', ' ']
# don't forget your friendly helper

## üîó Step 3: Join DataFrames (by index)

In [ ]:
# TODO: Join df_employees and df_salaries using .join()
# Hint: Set EmployeeID as index first on both DataFrames, then use join()

## üîÄ Step 4: Merge DataFrames (by column)

In [ ]:
# TODO: Merge df_employees and df_salaries using pd.merge()
# Hint: Merge on 'EmployeeID' and try both 'inner' and 'left' joins

## ‚ûï Step 5: Append a New Row

In [ ]:
# TODO: Add a new employee (ID 5, Name: Diana, Department: Marketing)
# Hint: Use pd.concat() to append a new row DataFrame to df_employees

## üéØ Bonus Challenge

In [ ]:
# Can you group the merged data by Department and calculate average salary?
# Try using .groupby() and .mean()